<script type="text/template" id="tag_select">
<% var tagObjects = JSON.parse($("#tags_json").html()); %>
<% console.log(tagObjects); %>

<div>
  <% unique_num = (new Date).getTime() %>
  <% input_id = "secret_tag_ids_" + unique_num %>
  <% name = "secret[secret_taggings_attributes]["+ unique_num + "][tag_id]" %>

	<select name="<%= name %>" id="<%= input_id %>">
	<% tagObjects.forEach(function (tag) { %>
		<option value="<%= tag.id %>"><%= tag.title %></option>
	<% }); %>
	</select>

</div>
</script>
